# Copy this file, change the values and rename to .env
DATABASE_URL="ebay_listings.sqlite3"
EBAY_CLIENT_ID=YOUR_CLIENT_ID_HERE_ALSO_KNOWN_AS_APP_ID
EBAY_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE_ALSO_KNOWN_AS_CERT_ID
EBAY_MARKETPLACE_ID=EBAY_GB
NTFY_TOPIC_ID=TOPIC_ID
ENABLE_NOTIFICATIONS=False

# The following is optional
WEBSERVICE_URL=http://google.com